@model SoftwareHutPreview.Application.Product.Commands.CreateProduct.CreateProductCommand
@{
    ViewData["Title"] = "Stwórz produkt";
}
<h2>@ViewData["Title"]</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <hr />

        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label">Nazwa</label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" placeholder="Nazwa produktu" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label">Opis</label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" placeholder="Opis produktu" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div>
            <label asp-for="Category.Id" class="col-md-2 control-label">Kategoria</label>
            <div class="col-md-10">
                <select  class="custom-select" name="Category.Id" asp-for="Category.Id" asp-items="ViewBag.Categories">
                </select>
                <span asp-validation-for="Category.Id" class="text-danger"></span>
            </div>
        </div>

        <div style="margin-top: 15px; margin-bottom: 15px;">
            <label asp-for="Price" class="col-md-2 control-label">Cena</label>

            <div class="input-group col-10">

                <input asp-for="Price" class="form-control" placeholder="Cena produktu">
                <div class="input-group-append">
                    <span class="input-group-text" id="2">zł</span>
                </div>

            </div>
            <span asp-validation-for="Price" class="text-danger" style="margin-left: 15px"></span>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type = "submit" value="Create" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-info">Powrot</a>
            </div>
        </div>
    </div>
</form>

@{
}
